name: Generate Snake Animation

on:
  schedule:
    # 每天 UTC 时间 0:00 运行（北京时间 8:00）
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: Yuuuuu0
          outputs: |
            output/github-contribution-grid-snake.svg
            output/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Push to GitHub
        run: |
          git config --global user.name "Yuuuuu0"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add output/
          git commit -m "Generate snake animation" || exit 0
          git push
